---
title: Blog
tags:
- blogs
---
<div class="row" role="main">
	<div class="grid-12 columns">
		<section>
			<article>
				{{#each page.related}}
					<h2>{{this.data.title}}</h2>
					<h4 class="subtitle">Last Updated: {{this.data.last-updated}}</h4>
				{{/each}}
			</article>
		</section>
		<ul>
		  {{#each page.related}}
		    <li>
		      <a href="{{relative ../page.dest this.dest}}">{{this.data.title}}</a> <br>
		      Date Published: {{this.data.date}}
		      <p>{{this.data.excerpt}}</p>
		    </li>
		  {{/each}}
		</ul>
	</div>
</div>